.saved-profile {
    border: solid 1px;
    margin: 10px 10px 10px 0;
    float: left;
    padding: 20px;
    position: relative;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    color: red;
    cursor: pointer;
}