<div>
    <div>
        <h1>Weather App</h1>
        <p>Enter a zip code in the text field below. You can save snapshots of the weather data you receive</p>
        <input type="text" ng-model="zipCode" placeholder="zipcode...">
        <button ng-click="getData(zipCode)">GET WEATHER</button>
        <button ng-if="weatherData" ng-click="saveWeather(weatherData)">Save</button>
    </div>

    <div ng-if="weatherData">
        <p>{{weatherData.location}}</p>
        <p>{{weatherData.weather}}</p>
        <p >{{weatherData.temp | number:0}}&deg;F</p>
    </div>

    <div>
        <div ng-repeat="profile in savedPlaces" class="saved-profile">
            <span ng-click="deleteWeather(profile)" class="delete-button">X</span>
            <p>{{profile.location}}</p>
            <p>{{profile.weather}}</p>
            <p >{{profile.temp | number:0}}&deg;F</p>
        </div>
    </div>
</div>